.card {
  margin: 0.2rem;
  border: 3px solid darkred;
  border-radius: 1vh;
}

img.card {
  height: 8rem;
}

img.card:hover {
  transform: scale(1.04);
  border-style: double;
  cursor: pointer;
}
