@font-face {
  font-family: DancingScript;
  src: local("DancingScript-VariableFont_wght"),
    url(./components/styles/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: RockSalt;
  src: local("RockSalt-Regular"), url(./components/styles/RockSalt-Regular.ttf);
}

@font-face {
  font-family: Audiowide;
  src: local("Audiowide-Regular"),
    url(./components/styles/Audiowide-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: local("Roboto-Medium"), url(./components/styles/Roboto-Medium.ttf);
}

html {
  background-color: black;
}

body {
  margin: 0;
  background-color: black;
}

div#root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto max-content 1fr auto;
  font-family: Roboto;
  color: orangered;
}

header {
  margin-top: calc(4vh - 2vw);
  padding-left: 2vh;
  padding-bottom: 1.5vw;
  background-image: linear-gradient(0deg, #370064, #000000);
  transform: skewY(-11deg) translateY(-4vw);
}

header {
  display: flex;
  align-items: center;
  gap: 4vh;
}
header > div.memoryHeader {
  font-family: DancingScript;
  font-size: 6vh;
}
header > div.cardHeader {
  font-family: Audiowide;
  font-size: 4.5vh;
}
header > div.gameHeader {
  font-family: RockSalt;
  font-size: 4.5vh;
}

div#root > button.imageSlider {
  color: black;
  position: absolute;
  top: 1vh;
  left: 1vh;
  border-style: none;
  border-radius: 2vh;
  background-color: forestgreen;
  font-family: Roboto;
  font-size: 2vh;
}

div#root > button.imageSlider:hover {
  cursor: pointer;
  background-color: orangered;
  font-weight: bold;
  transform: scale(1.05);
}

main {
  position: relative;
  z-index: 2;
  overflow-y: auto;
  display: grid;
  grid-template-rows: max-content 1fr;
  justify-items: center;
  /* align-content: center; */
}

main::-webkit-scrollbar {
  width: 18px; /* width of the entire scrollbar */
}

main::-webkit-scrollbar-track {
  background: #000000; /* color of the tracking area */
}

main::-webkit-scrollbar-thumb {
  background-color: rgb(146, 127, 255); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 6px solid #000000; /* creates padding around scroll thumb */
}

main::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(45deg, #654ea3, #370064);
}

footer {
  display: flex;
  justify-content: center;
  gap: 2vh;
}
footer a {
  text-decoration: none;
}
footer a.sedbastian {
  color: rgb(85, 26, 139);
}
footer a.sedbastian:hover {
  color: rgb(133, 41, 219);
}
footer a.github {
  color: forestgreen;
}
footer a.github:hover {
  color: lawngreen;
}
footer div.year {
  color: rgb(85, 26, 139);
}
footer svg {
  height: 3vh;
}
