@font-face {
  font-family: DancingScript;
  src: local("DancingScript-VariableFont_wght"),
    url(./components/styles/DancingScript-VariableFont_wght.ttf);
}

@font-face {
  font-family: RockSalt;
  src: local("RockSalt-Regular"), url(./components/styles/RockSalt-Regular.ttf);
}

@font-face {
  font-family: Audiowide;
  src: local("Audiowide-Regular"),
    url(./components/styles/Audiowide-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: local("Roboto-Medium"), url(./components/styles/Roboto-Medium.ttf);
}

html {
  background-color: black;
}

body {
  margin: 0;
}

div#root {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Roboto;
  color: orangered;
}

header {
  padding-bottom: 1.5vw;
  /* border-bottom: 3vh dotted #370064; */
  background-image: linear-gradient(0deg, #370064, #000000);
  transform: skewY(-11deg);
}

header > div.container {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content max-content;
  transform: skewY(11deg);
}

header > div.container > div.title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 4vh;
}
header > div.container > div.title > div.memoryHeader {
  font-family: DancingScript;
  font-size: 8vh;
}
header > div.container > div.title > div.cardHeader {
  font-family: Audiowide;
  font-size: 6vh;
}
header > div.container > div.title > div.gameHeader {
  font-family: RockSalt;
  font-size: 6vh;
}

main {
  position: relative;
  z-index: 2;
  overflow-y: auto;
  display: grid;
  grid-template-rows: max-content 1fr;
  justify-items: center;
}

footer {
  display: flex;
  justify-content: center;
  gap: 2vh;
}
footer a {
  text-decoration: none;
}
footer a.sedbastian {
color: rgb(85, 26, 139);
}
footer a.sedbastian:hover {
  color: rgb(133, 41, 219);
  }
footer a.github {
  color: forestgreen;
}
footer a.github:hover {
  color: lawngreen;
}
footer div.year {
  color: rgb(85, 26, 139);
}
footer svg {
  height: 3vh;
}
